<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org "><head>
    <meta charset="UTF-8">
    <title>ADD new USER</title>
</head>
<body>

<form th:method="POST" th:action="@{add_user}" th:object="${user}">
    <label for="name">NAME</label><input name="name" th:field="*{name}" id = "name"/>
    <br><br>
    <label for="surname">SURNAME</label><input name="surname" th:field="*{surname}" id = "surname"/>
    <br><br>
    <label for="age">AGE</label><input name="age" th:field="*{age}" id = "age"/>
    <br><br>
    <input type="submit" value="ADD">
    <br><br>
</form>
</body>
</html>